@font-face {
  src: url(./fonts/Luciole-Regular.ttf);
  font-family: "Luciole-Regular";
}

@font-face {
  src: url(./fonts/Luciole-Bold.ttf);
  font-family: "Luciole-Bold";
}

/** GENERAL **/
body {
  margin: 0;
  font-family: Luciole-Regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** HOME **/
/* navbar */ 
.nav-home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

  .nav-home .logo-home,
  .button-big-play {
    align-self: center;
  }

  .nav-home .image-home {
    margin: 40px 0;
    max-width: min-content;
  }

  .nav-home .button-big-play {
    font-size: 2em;
  }

/** PLAYING **/
/* navbar */
.nav-playing {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  height: min-content;
  position: absolute;
}

  .nav-playing .logo-playing {
    max-height: 5em;
    margin: .5em;
    padding: 0;
    cursor: pointer;
  }

/* game */
.game {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.game .question-image,
.results {
  padding: 150px 0 0 0;
  margin: .5em;
  font-size: 1.5em;
  text-align: center;
}

.game .answers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: max-content;
}

.game .answers .answer {
  font-size: 2em;
}
.game .answers .ok-next {
  margin-top: 2em;
  align-self: center;
  font-size: 1.5em;
}
